.heart{
    scale:0.7;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    /* width: 52px;
    height: 30px; */
}
.hh{
    scale: 1.5;
    /* position: absolute;
    display: inline-block; */
/* 
padding-left: 250px;
    padding-top: 10px; */
/* width: 50px ; */
/* border-radius: 50%; */
}